div.form-group input.form-control, 
div.form-group select.form-control, 
div.form-group textarea.form-control{
	color: #ff6347;
}

div.form-group input.form-control[disabled], 
div.form-group select.form-control[disabled], 
div.form-group textarea.form-control[disabled], 
div.form-group input.form-control[readonly], 
div.form-group select.form-control[readonly], 
div.form-group textarea.form-control[readonly]{
	background-color: #fff;
}

div.form-group span.input-group-addon, 
div.modal-header{
	background-color: #dff0d8;
}

div.modal-header{
	border-radius: 5px;
}

div.ui-datepicker{
	z-index: 1050!important;
}