div.nav-divider{
	border-bottom: solid 1px #333;
	
	margin-bottom: 5px;
}

ul.nav.nav-list div.lv1-node, 
ul.nav.nav-list div.lv2-node, 
ul.nav.nav-list div.lv3-node, 
ul.nav.nav-list div.lv4-node, 
ul.nav.nav-list div.lv5-node{
	color: #ffa500;
	
	font-size: 15px;
}

ul.nav.nav-list div.lv2-node{
	padding-left: 25px;
}

ul.nav.nav-list div.lv3-node{
	padding-left: 50px;
}

ul.nav.nav-list div.lv4-node{
	padding-left: 75px;
}

ul.nav.nav-list div.lv5-node{
	padding-left: 100px;
}

ul.nav.nav-list li a{
	padding-top: 5px;
	padding-bottom: 5px;
}

ul.nav li a:focus, 
ul.nav li a:hover, 
ul.nav li a.active{
	background-color: #dff0d8;
	
	border-radius: 25px;
}

div.panel-about div.company-logo-image-container, 
div.user_avatar-container{
	height: 100px;
}

div.panel-about div.company-logo-image-container img.company-logo-image, 
div.user_avatar-container img.user-avatar{
	height: 90%;
	margin: auto;
}
