div.company-logo-image-container{
	height: 150px;
	width: 150px;
	
	margin: auto;
	padding: 0px 10px 10px 10px;
}

div.company-logo-image-container img.company-logo-image{
	height: 100%;
	width: 100%;
}